:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Colors */
  --main-color: #757575;
  --color-logo-dark: #000;
  --color-light-title: #fff;
  --color-dark-subtitle: #212121;
  --accent-color: #2196f3;
  --dark-background: #2f303a;
  --light-background: #fff;
  --bg-color-main: #f5f4fa;
  --bg-color-secondary: #e5e5e5;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;

  color: var(--main-color);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-dark-subtitle);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding: 94px 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

/*----------------HEADER------------*/
.header {
  background-color: var(--color-light-title);
}

.header-border {
  border-bottom: 1px solid #ececec;
}
.header > .container {
  display: flex;
  align-items: center;
}

.logo-black {
  color: var(--color-logo-dark);
}

.site-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
  margin-right: 93px;
}
.current {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  position: relative;

  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color-dark-subtitle);
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: '';

  position: absolute;

  border-radius: 2px;
  background-color: var(--accent-color);
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icon-contacts {
  margin-right: 10px;
}

.contact-item {
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-color);
  fill: var(--main-color);
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover,
.header-contact-link:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

/*---------------HERO----------------*/

.hero-section {
  background-color: var(--dark-background);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color-light-title);
  max-width: 700px;
  margin: 0 auto;
}

.button-hero {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--color-light-title);

  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*-------------Приемущества------------*/

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantages-subtitle {
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 14px;

  color: var(--color-dark-subtitle);
  margin-bottom: 10px;
}
.advantages-text {
  font-family: var(--main-font);
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.icon-bg {
  background: var(--bg-color-main);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-------------Чем мы занимаемся----------==*/

.section-services {
  padding-top: 0;
}

.services-list {
  display: flex;
  margin-top: 50px;
}
.services-item {
  flex-basis: calc((100%-60px) / 3);
  position: relative;
}

.services-item:not(:last-child) {
  margin-right: 30px;
}

.services-title-img {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--light-background);
  background-color: rgba(47, 48, 58, 0.8);
}

/*------------Team------------------*/
.bg-color {
  background-color: #f5f4fa;
}

.team-img {
  display: block;
}

.team-list {
  display: flex;
  margin-top: 50px;
}

.team-item {
  flex-basis: calc((100%-90px) / 4);
  background: var(--color-light-title);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--color-dark-subtitle);
  margin-bottom: 10px;
}
.position {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--main-color);
}

.team-icon-social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  margin-top: 16px;
}

.link-social:not(:last-child) {
  margin-right: 10px;
}

.link-social {
  display: block;
  background: var(--color-light-title);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus {
  fill: var(--light-background);
  background-color: var(--accent-color);
}

.item-icon-team:not(:last-child) {
  margin-right: 10px;
}

/*-------------Clients---------*/
.client-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.link-client {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client:hover,
.link-client:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.item-client-icon:not(:last-child) {
  margin-right: 30px;
}

/*-----------Footer------------*/
.footer {
  background-color: var(--dark-background);
  padding: 60px 0;
  margin: 0;
}

.logo-footer {
  padding: 0;
  margin-right: 0;
}

.current-footer {
  color: var(--color-light-title);
}

.address {
  font-family: var(--main-font);
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-light-title);
  margin-top: 20px;
  min-width: 231px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-email {
  font-family: var(--main-font);
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-light-title);
  opacity: 0.6;
}
.footer-tel {
  font-family: var(--main-font);
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-light-title);
  opacity: 0.6;
}

.title-footer-social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--light-background);

  margin-bottom: 20px;
}

.subscribe {
  margin-left: 70px;
  margin-right: 93px;
}

.footer-column {
  display: flex;
  align-items: baseline;
}

.link-social-footer {
  display: block;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  fill: var(--light-background);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-icon-footer:not(:last-child) {
  margin-right: 10px;
}

.link-social-footer:hover,
.link-social-footer:focus {
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-icon-list {
  display: flex;
}

.position-form {
  display: flex;
  margin-top: 20px;
}

.form {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-background);

  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px;

  min-width: 358px;
}

.user-email {
  margin-right: 12px;
}

.icon-form-footer {
  margin-left: 10px;
}

.button-form {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--color-light-title);
  fill: var(--light-background);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 10px 29px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form:hover,
.button-form:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*--------------Portfolio--------*/

.portfolio-button-list {
  display: flex;
  justify-content: center;
}

.portfolio-button-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--color-dark-subtitle);

  background: var(--bg-color-main);
  border-radius: 4px;
  border: none;

  padding: 6px 22px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--color-light-title);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.portfolio-text {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.cards-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.img-description {
  position: relative;
  overflow: hidden;
}

.card-discription {
  position: absolute;

  display: block;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-light-title);

  padding: 63px 24px;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover .card-discription {
  transform: translateY(0);
}

.cards-link:focus .card-discription {
  transform: translateY(0);
}

.cards-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-description {
  position: relative;
}

.cards-link:hover,
.cards-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards-item:nth-child(3n) {
  margin-right: 0;
}
.cards-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.cards-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--color-dark-subtitle);
  margin-bottom: 4px;
}
.cards-text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/*-----------Modal--------------------------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--light-background);
  width: 528px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.button-modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--light-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--color-logo-dark);
  cursor: pointer;
  padding: 5px;
}

.button-modal-close:hover {
  fill: var(--accent-color);
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-dark-subtitle);

  margin-bottom: 12px;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.comment-form {
  margin-bottom: 20px;
}

.form-input {
  margin: 0;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  font: inherit;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: var(--accent-color);
  outline: transparent;
}

.form-label {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;

  color: #757575;
  margin-top: 0;
  margin-bottom: 4px;
}

.icon-form {
  position: absolute;
  top: 43px;
  left: 20px;
  transform: translate(-50%, -50%);

  fill: var(--color-dark-subtitle);
}

.form-input:focus {
  border: 1px solid #2196f3;
}

.form-input:focus ~ .icon-form {
  fill: var(--accent-color);
}

.comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.comment:focus {
  border: 1px solid var(--accent-color);
}

.button-send {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--color-light-title);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px;
  cursor: pointer;
  border: none;

  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-contract {
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contract {
  display: flex;
  align-items: center;
}
.icon-check {
  width: 16px;
  height: 15px;
  display: inline-block;
  border: 2px solid #212121;
  border-radius: 4px;
  fill: var(--color-light-title);
  background-color: var(--light-background);

  margin-right: 7px;
}

.checkbox:checked + .icon-check {
  background-color: var(--accent-color);
  border: 0.2px solid var(--accent-color);
  background-origin: border-box;
}

.contract-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--accent-color);
  cursor: pointer;
}
