:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Colors */
  --main-color: #757575;
  --color-logo-dark: #000;
  --color-light-title: #fff;
  --color-dark-subtitle: #212121;
  --accent-color: #2196f3;
  --dark-background: #2f303a;
  --light-background: #fff;
  --bg-color-main: #f5f4fa;
  --bg-color-secondary: #e5e5e5;
}

/*html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;

  color: var(--main-color);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-dark-subtitle);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding: 94px 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

/*----------------HEADER------------*/
.header {
  background-color: var(--color-light-title);
}

.header--border {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
  margin-right: 93px;
}

.header__logo--black {
  color: var(--color-logo-dark);
}

.navigation__link--current {
  color: var(--accent-color);
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item {
  position: relative;

  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color-dark-subtitle);
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--current::after {
  content: '';

  position: absolute;

  border-radius: 2px;
  background-color: var(--accent-color);
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.header__contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icon-contacts {
  margin-right: 10px;
}

.header-contact__item {
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-color);
  fill: var(--main-color);
}

.header-contact__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact__link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link:hover,
.header-contact__link:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

/*---------------HERO----------------*/

.section__hero {
  background-color: var(--dark-background);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.hero__title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color-light-title);
  max-width: 700px;
  margin: 0 auto;
}

.hero__button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--color-light-title);

  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*-------------Приемущества------------*/

.advantages__list {
  display: flex;
  gap: 30px;
}

.advantages__subtitle {
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 14px;

  color: var(--color-dark-subtitle);
  margin-bottom: 10px;
}
.advantages__text {
  font-family: var(--main-font);
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.advantages__icon--bg {
  background: var(--bg-color-main);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-------------Чем мы занимаемся----------==*/

.section__services {
  padding-top: 0;
}

.services__list {
  display: flex;
  margin-top: 50px;
}
.services__item {
  flex-basis: calc((100%-60px) / 3);
  position: relative;
}

.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__subtitle {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--light-background);
  background-color: rgba(47, 48, 58, 0.8);
}

/*------------Team------------------*/
.section__team {
  background-color: #f5f4fa;
}

.team__img {
  display: block;
}

.team__list {
  display: flex;
  margin-top: 50px;
}

.team__item {
  flex-basis: calc((100%-90px) / 4);
  background: var(--color-light-title);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.text__name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--color-dark-subtitle);
  margin-bottom: 10px;
}
.text__position {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--main-color);
}

.team__icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  margin-top: 16px;
}

.link__social:not(:last-child) {
  margin-right: 10px;
}

.link__social {
  display: block;
  background: var(--color-light-title);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link__social:hover,
.link__social:focus {
  fill: var(--light-background);
  background-color: var(--accent-color);
}

.social-icon__item:not(:last-child) {
  margin-right: 10px;
}

/*-------------Clients---------*/
.client-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.link__client {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link__client:hover,
.link__client:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

/*-----------Footer------------*/
.footer {
  background-color: var(--dark-background);
  padding: 60px 0;
  margin: 0;
}

.footer__column {
  display: flex;
  align-items: baseline;
}

/*---------------------------------------------*/

.logo__link--footer {
  padding: 0;
  margin-right: 0;
}

.logo__current--footer {
  color: var(--color-light-title);
}

.footer__address {
  font-family: var(--main-font);
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-light-title);
  margin-top: 20px;
  min-width: 231px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__email {
  font-family: var(--main-font);
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-light-title);
  opacity: 0.6;
}
.footer__tel {
  font-family: var(--main-font);
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-light-title);
  opacity: 0.6;
}

/*---------------------------------------------*/

.footer__subscribe {
  margin-left: 70px;
  margin-right: 93px;
}

.footer__subtitle-social {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--light-background);

  margin-bottom: 20px;
}

.subscribe__link {
  display: block;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  fill: var(--light-background);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__item:not(:last-child) {
  margin-right: 10px;
}

.subscribe__link:hover,
.subscribe__link:focus {
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.subscribe__list {
  display: flex;
}

/*-------------------------------------------------------------*/

.footer__form--position {
  display: flex;
  margin-top: 20px;
}

.form__email {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-background);

  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px;

  min-width: 358px;
}

.user__email {
  margin-right: 12px;
}

.button__icon-form {
  margin-left: 10px;
}

.button__form {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--color-light-title);
  fill: var(--light-background);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 10px 29px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__form:hover,
.button__form:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*--------------Portfolio--------*/

.button__list {
  display: flex;
  justify-content: center;
}

.button__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio__button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--color-dark-subtitle);

  background: var(--bg-color-main);
  border-radius: 4px;
  border: none;

  padding: 6px 22px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover,
.portfolio__button:focus {
  background-color: var(--accent-color);
  color: var(--color-light-title);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.cards__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.cards__text {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.cards__block {
  position: relative;
  overflow: hidden;
}

.cards__discription {
  position: absolute;

  display: block;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-light-title);

  padding: 63px 24px;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__link:hover .cards__discription {
  transform: translateY(0);
}

.cards__link:focus .cards__discription {
  transform: translateY(0);
}

.cards__link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__description {
  position: relative;
}

.cards__link:hover,
.cards__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards__item:nth-child(3n) {
  margin-right: 0;
}
.cards__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.cards__subtitle {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--color-dark-subtitle);
  margin-bottom: 4px;
}
.cards__category {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/*-----------Modal--------------------------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--light-background);
  width: 528px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--light-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--color-logo-dark);
  cursor: pointer;
  padding: 5px;
}

.modal__button:hover {
  fill: var(--accent-color);
}

.modal__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-dark-subtitle);

  margin-bottom: 12px;
}

.form__field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form__input {
  margin: 0;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  font: inherit;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: var(--accent-color);
  outline: transparent;
}

.form__label {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;

  color: #757575;
  margin-top: 0;
  margin-bottom: 4px;
}

.form__icon {
  position: absolute;
  top: 43px;
  left: 20px;
  transform: translate(-50%, -50%);

  fill: var(--color-dark-subtitle);
}

.form__input:focus {
  border: 1px solid #2196f3;
}

.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
}

.comment__form {
  margin-bottom: 20px;
}

.form__comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}

.form__comment::placeholder {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form__comment:focus {
  border: 1px solid var(--accent-color);
}

.button__send {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--color-light-title);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px;
  cursor: pointer;
  border: none;

  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__send:hover,
.button__send:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.checkbox__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check__block {
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__label {
  display: flex;
  align-items: center;
}
.checkbox__icon {
  width: 16px;
  height: 15px;
  display: inline-block;
  border: 2px solid #212121;
  border-radius: 4px;
  fill: var(--color-light-title);
  background-color: var(--light-background);

  margin-right: 7px;
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
  border: 0.2px solid var(--accent-color);
  background-origin: border-box;
}

.checkbox__link--blue {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--accent-color);
  cursor: pointer;
}
